# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
dev.log

# Screenshots / tests
screenshots/
screenshots.mjs

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
